
/*-------------------*/
/* Custom Properties */
/*-------------------*/

:root{
    --clr-primary100: 35, 75%, 96%;
    --clr-primary400: 34, 100%, 50%;

    --clr-secondary100: 0, 0%, 97%;
    --clr-secondary200: 0, 0%, 91%;

    --clr-light: 0, 0%, 99%;
    --clr-dark: 0, 0%, 1%;

    --fs-900: 4.5rem;
    --fs-700: 3rem;
    --fs-400: 1.125rem;
    --fs-300: 1rem;

    --mt-xs: .15em;
    --mt-sm: .375em;
    --mt-md: 1em;

    --border-radius-md: 10px;

    --transition-delay: 0.2s;
}

.darkmode{
    --clr-primary100: 0, 0%, 12%;
    --clr-primary400: 30, 100%, 45%;

    --clr-secondary100: 0, 0%, 13%;
    --clr-secondary200: 0, 0%, 17%;

    --clr-light: 0, 0%, 8%;
    --clr-dark: 0, 0%, 90%;
}

/*-------*/
/* Reset */
/*-------*/

body{
    margin: 0;
    padding-inline: 1em;
    min-height: 100vh;
    font-family: 'Puritan', sans-serif;
    color: hsl(var(--clr-light));
    font-size: var(--fs-400);
    background-color: hsl(var(--clr-primary100));
    transition: var(--transition-delay);
}

h1, h2, p{
    margin: 0;
    padding: 0;
}

* { box-sizing: border-box; }


/*-----------------*/
/* Utility Classes */
/*-----------------*/

/* layout */
.flex{display: flex;}
.justify-between{justify-content: space-between;}
.justify-center{justify-content: center;}
.flex-wrap{flex-wrap: wrap;}
.align-center{align-items: center;}
.gap-sm{gap:2px}

.hidden{display: none;}

.container{
    width: 20vw;
    margin: 0 auto;
}

.mt-xs{margin-top:var(--mt-xs);}
.mt-sm{margin-top:var(--mt-sm);}
.mt-md{margin-top:var(--mt-md);}

.text-right{text-align:right;}

.fs-300{font-size: var(--fs-300);}
.fs-400{font-size: var(--fs-400);}
.fs-700{font-size: var(--fs-700);}

.text-dark{color: hsl(var(--clr-dark));}

.br-bl-md{border-bottom-left-radius: var(--border-radius-md)}
.br-br-md{border-bottom-right-radius: var(--border-radius-md)}
.br-tl-md{border-top-left-radius: var(--border-radius-md)}
.br-tr-md{border-top-right-radius: var(--border-radius-md)}

.bg-clr-primary200{background-color: hsl(var(--clr-primary200));}
.bg-clr-primary400{background-color: hsl(var(--clr-primary400));}

.bg-clr-secondary100{background-color: hsl(var(--clr-secondary100));}
.bg-clr-secondary200{background-color: hsl(var(--clr-secondary200));}

/*------------*/
/* Components */
/*------------*/
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% * (1/4) - 2px);
    aspect-ratio: 1/1;
    font-size: 1.875rem;
    color: hsl(var(--clr-dark));
    border: none;
    cursor: pointer;
    transition: var(--transition-delay);
}

.calculator-bg{
    padding: 1em;
    background-color: hsl(var(--clr-light));
    border-radius: var(--border-radius-md);
    box-shadow: 8px 8px 8px hsla(0, 0%, 10%, 0.1);
    transition: var(--transition-delay);
}

path,
circle{
    stroke: hsl(var(--clr-dark));
    transition: var(--transition-delay);
}

.icon{
    padding: 0;
    background-color: inherit;
    border: none;
    cursor:pointer;
    transition: var(--transition-delay);
}

.btn:hover,
.icon:hover{
    opacity: 0.75;
}